<header>
   <nav>
      <ul>
         <li><a href="/">Главная</a></li>
         <li><a href="/list">Все аниме</a></li>
         <li><a href="/random">Рандомное!</a></li>
         <li><a>Войти</a></li>
      </ul>
   </nav>
</header>